{
	"extends": "sa/vue",
	"settings": {
		"import/core-modules": ["uno.css", "~icons/*", "virtual:svg-icons-register"]
	},
	"overrides": [
		{
			"files": ["*.vue"],
			"rules": {
				"no-undef": "off", // use tsc to check the ts code of the vue
				"vue/no-setup-props-destructure": "off", // wait to fix this rule
				"no-unused-expressions": "off",
				"no-underscore-dangle": "off",
				"no-warning-comments": "off"
			}
		},
		{
			"files": ["*.ts"],
			"rules": {
				"no-plusplus": "off",
				"max-params": ["error", 4],
				"no-unused-expressions": "off",
				"no-underscore-dangle": "off",
				"no-warning-comments": "off"
			}
		}
	]
}
