{
	"extends": "sa/vue",
	"settings": {
		"import/core-modules": ["uno.css", "~icons/*", "virtual:svg-icons-register"]
	},
	"overrides": [
		{
			"files": ["*.vue"],
			"rules": {
				"no-undef": "off", // use tsc to check the ts code of the vue
				"vue/no-setup-props-destructure": "off" // wait to fix this rule
			}
		},
		{
			"files": ["*.ts"],
			"rules": {
				"max-params": ["error", 4]
			}
		}
	]
}
